<div class="row">
  <div class="col">
    <div class="row">
      <div class="col ml-auto">
        <button
          class="float-right btn btn-primary my-1"
          (click)="onNewButtonClick()">
          New
        </button>
      </div>
    </div>
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Category</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let i = index">
          <th scope="row" class="form-check form-group">
            <input type="checkbox" class="form-check-input ml-1" [checked]="todo.status">
          </th>
          <td>{{ todo.name }}</td>
          <td>{{ todo.category }}</td>
          <td>
            <div class="row">
              <div class="col">
                <button class="btn btn-primary mr-2" (click)="onEditButtonClicked(i)">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
