<div class="col">
    <div class="row">
        <div class="col">
            <form id=formId #refForm="ngForm" (ngSubmit)="onSubmitClicked(refForm)">
                <div class="form-group">
                    <label for="task">Task</label>
                    <input type="text" class="form-control" [ngClass]="{'is-invalid':!nameProperty.valid && !nameProperty.pristine}" #nameProperty="ngModel" name="name" required [(ngModel)]="toDoModel.name" minlength="4">
                    <div *ngIf="!nameProperty.valid && !nameProperty.pristine" class="invalid-feedback">
                        <span *ngIf="nameProperty.errors.required">
                                    Name is invalid
                        </span>
                        <span *ngIf="nameProperty.errors.minlength">
                                Name must be at least 4 characters long.
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control" name="category" required [(ngModel)]="toDoModel.category">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="status" [(ngModel)]="toDoModel.status">
                    <label class="form-check-label" for="status">Completed</label>
                </div>
                <button class="btn btn-warning" type="button" (click)="refForm.reset()">Clear</button>
                <button class="btn btn-primary" [disabled]="!refForm.form.valid">Submit</button>
            </form>
        </div>
    </div>
</div>